/* Escribe tus estilos aquí */

/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Primer elemento de grid */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Segundo elemento del grid */

.row::after {
    display: table;
    content: '';
}

/* Tercer elemento del grid */

[class*='col-'] {
    float: left;
    outline: 1px solid blueviolet;
    background-color: burlywood;
    padding: 1em;

}

/* Mobile-first*/

/* Vista de celular */

.col-xs-1 {
    /* 1/12 * 100 */
    width: 8.333333333333332%;
}

.col-xs-2 {
    /* 1/12 * 100 */
    width: 16.666666666666664%;
}
.col-xs-3 {
    /* 1/12 * 100 */
    width: 25%;
}
.col-xs-4 {
    /* 1/12 * 100 */
    width: 33.33333333333333%;
}
.col-xs-5 {
    /* 1/12 * 100 */
    width: 41.66666666666667%;
}
.col-xs-6 {
    /* 1/12 * 100 */
    width: 50%;
}
.col-xs-7 {
    /* 1/12 * 100 */
    width: 58.333333333333336%;
}
.col-xs-8 {
    /* 1/12 * 100 */
    width: 66.66666666666666%;
}
.col-xs-9 {
    /* 1/12 * 100 */
    width: 75%;
}
.col-xs-10 {
    /* 1/12 * 100 */
    width: 83.33333333333334%;
}
.col-xs-11 {
    /* 1/12 * 100 */
    width: 91.66666666666666%;
}
.col-xs-12 {
    width: 100%;
}

/* Para tablets */

@media (min-width: 768px) {
    .col-sm-1 {
        /* 1/12 * 100 */
        width: 8.333333333333332%;
    }

    .col-sm-2 {
        /* 1/12 * 100 */
        width: 16.666666666666664%;
    }
    .col-sm-3 {
        /* 1/12 * 100 */
        width: 25%;
    }
    .col-sm-4 {
        /* 1/12 * 100 */
        width: 33.33333333333333%;
    }
    .col-sm-5 {
        /* 1/12 * 100 */
        width: 41.66666666666667%;
    }
    .col-sm-6 {
        /* 1/12 * 100 */
        width: 50%;
    }
    .col-sm-7 {
        /* 1/12 * 100 */
        width: 58.333333333333336%;
    }
    .col-sm-8 {
        /* 1/12 * 100 */
        width: 66.66666666666666%;
    }
    .col-sm-9 {
        /* 1/12 * 100 */
        width: 75%;
    }
    .col-sm-10 {
        /* 1/12 * 100 */
        width: 83.33333333333334%;
    }
    .col-sm-11 {
        /* 1/12 * 100 */
        width: 91.66666666666666%;
    }
    .col-sm-12 {
        width: 100%;
    }
}
/* Para laptops y desktops */

@media (min-width: 992px) {
    .col-md-1 {
        /* 1/12 * 100 */
        width: 8.333333333333332%;
    }

    .col-md-2 {
        /* 1/12 * 100 */
        width: 16.666666666666664%;
    }
    .col-md-3 {
        /* 1/12 * 100 */
        width: 25%;
    }
    .col-md-4 {
        /* 1/12 * 100 */
        width: 33.33333333333333%;
    }
    .col-md-5 {
        /* 1/12 * 100 */
        width: 41.66666666666667%;
    }
    .col-md-6 {
        /* 1/12 * 100 */
        width: 50%;
    }
    .col-md-7 {
        /* 1/12 * 100 */
        width: 58.333333333333336%;
    }
    .col-md-8 {
        /* 1/12 * 100 */
        width: 66.66666666666666%;
    }
    .col-md-9 {
        /* 1/12 * 100 */
        width: 75%;
    }
    .col-md-10 {
        /* 1/12 * 100 */
        width: 83.33333333333334%;
    }
    .col-md-11 {
        /* 1/12 * 100 */
        width: 91.66666666666666%;
    }
    .col-md-12 {
        width: 100%;
    }
}

/*
0 px --> 767px = xs
768px --> 991px = sm
992 --> + = md
*/
